<%- include('partials/_header') %>

<head>
  <!-- bootstrap Latest compiled and minified CSS -->
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <link rel="stylesheet" href="../styles/header.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway&family=Spectral+SC:wght@500&family=Syncopate:wght@700&display=swap"
    rel="stylesheet"
  />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
  <div id="alert_placeholder"></div>
  <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <section class="body">
    <div class="left-body-typo">
      <p class="dont">
        Don't be the <br />next victim <br />
        of a<br />
        ransomeware<br />
        attack.
      </p>
      <h3 class="h2-main">
        Keeper protects you, your<br />
        family and business from<br />
        password-related data breaches <br />
        and cyberthreats.
      </h3>
    </div>
    <!--registration pages-->
    <div class="right-body-registration">
      <p class="r">REGISTRATION</p>
      <p class="iqande">Its quick and easy</p>
      <form action="/registration" method="POST" id="signup_form">
        <!--// <--- some thing new happened here !!-->
        <div class="reg-form">
          <label for="email">Enter Your Email: </label><br />
          <input
            type="email"
            placeholder="email"
            name="email"
            id="username"
          />
          <label for="new-password">Enter Your Password: </label><br />
          <input
            type="password"
            placeholder="password"
            name="password"
            id="new-password"
          />
          <label for="organisation-id">Enter Organisation_id: </label><br />
          <input
            type="text"
            placeholder="organisation id"
            name="organisation_id"
            id="organisation-id"
          />
          <br />
          <label for="date">YYYY-MM-DD: </label><br />
          <input type="date" placeholder="YYYY-MM-DD" name="date" id="date" />
        </div>
        <button id="Signup" class="btn btn-outline-warning">SIGN UP!</button>
      </form>
    </div>
  </section>
</body>
