<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PasswordKeepr</title>
    <link rel="stylesheet" href="../styles/password-generator.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway&family=Spectral+SC:wght@500&family=Syncopate:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="../styles/main.css" type="text/css" />
    <link rel="stylesheet" href="../styles/header.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <section class="header">
      <h2 class="main-logo">PASSWORD KEEPER</h2>
      <form class="form-data" action="/logout" method="POST">
        <a class="my-accnt" href="http://localhost:8080/dashboard"
          >My Account</a
        >
        <button id="lgout-btn" class="btn btn-outline-warning">LOGOUT</button>
      </form>
    </section>
    <div class="container">
      <h2 class="pass-generator">PASSWORD GENERATOR</h2>
      <div class="result-container">
        <span id="result"></span>
        <button class="btn" id="clipboard">
          <i class="bi bi-clipboard"></i>
        </button>
      </div>
      <form>
      <div class="settings">
        <div class="setting">
          <label>Password length</label>
          <input type="number" id="length" min="4" max="20" value="20" />
        </div>
        <div class="setting">
          <label for="uppercase">Include uppercase letters</label>
          <input type="checkbox" id="uppercase" unchecked />
        </div>
        <div class="setting">
          <label for="lowercase">Include lowercase letters</label>
          <input type="checkbox" id="lowercase" unchecked />
        </div>
        <div class="setting">
          <label for="numbers">Include numbers</label>
          <input type="checkbox" id="numbers" unchecked />
        </div>
        <div class="setting">
          <label for="symbols">Include symbols</label>
          <input type="checkbox" id="symbols" unchecked />
        </div>
      </div>
      <button id="generate" class="btn btn-outline-warning">
        GENERATE PASSWORD
      </button>
    </form>
    </div>
  </body>
</html>
