.navbar-password {
  color: rgb(56, 56, 56);
  font-size: 20px;
  font-size: 45px;
  margin-left: 4%;
}

.navbar-password:hover {
  text-decoration: none;
  color: rgb(168, 168, 168);
}

.navbar {
  min-height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 12px;
}

.logout-button {
  margin-top: -8px;
  margin-left: 3px;
}

.navbar .navbar-nav a.nav-link {
  margin-top: 4px;
  color: white;
}

a.navbar-password {
  color: white;
}

.navbar-header {
  margin-bottom: 5px;
}

h5.navbar-header {
  color: white;
}

.header-button {
  margin: 0;
}

.header {
  display: flex;
}

button {
  margin-right: 10px;
  margin-top: 12px;
  margin-bottom: 5px;
  min-width: 65px;
}
.login {
  display: flex;
  margin-left: 50%;
  width: 60%;
}
#email{
  margin-top:7%;padding:.5% 0%;
}
@media (max-width:1366px){
  *{border:1px solid green}
  #email{
    background:red;

  }
}