.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #c0d6df;
  border-radius: 2px;
  font-family: "Raleway", sans-serif;
}
.main-logo {
  margin: 1% 0% 0% 6.5%;
}
.form-data {
  margin-right: 2%;
  width: 40%;
}
.form-data * {
  margin-right: 1%;
}
#username {
  border-radius: 5px;
  padding: 1.5% 0%;
}

#password {
  padding: 1.5% 0%;
  border-radius: 5px;
}

#lgn-btn {
  padding: 1.5% 0%;
  border-radius: 5px;
  width: 33%;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 1300px) {
  .form-data input {
    width: 30%;
  }
  .main-logo {
    margin-left: 1.7%;
  }
}
