body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.body {
  display: flex;
  justify-content: space-evenly;
}
.dont {
  font-size: 80px;
  font-family: "Syncopate", sans-serif;
  margin-left: 5%;
  margin-bottom: 0px;
  color: #4a6fa5;
  animation: animate 1s linear infinite;
}
.left-body-typo {
  padding: 2%;
}
@keyframes animate {
  0%,
  80% {
    color: #4a6fa5;
    box-shadow: none;
  }
  100% {
    color: #fff;
    text-shadow: 0 0 10px 10px #fff;
  }
}

.h2-main {
  margin-left: 5%;
  margin-top: 0px;
  font-family: "Spectral SC", serif;
  font-size: 42px;
  color: #4a6fa5;
}
.right-body-registration {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 40%;
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 2%;
  padding: 0% 2% 4% 0%;
}
.r {
  margin-top: 0px;
  margin-bottom: 0px;
}
.iqande {
  margin-top: 0px;
}
p {
  font-family: "Raleway", sans-serif;
  color: #c0d6df;
  font-size: xx-large;
}
label {
  color: #c0d6df;
  font-family: "Raleway", sans-serif;
}
.reg-form {
  font-size: 25px;
}

#Signup {
  font-size: xx-large;
  margin: 2% 0% 5% 34%;
  font-family: "Raleway", sans-serif;
}
.reg-form > input {
  width: 100%;
}
@media (max-width: 1300px) {
  .left-body-typo {
    width: 50%;
    margin-left: 0%;
  }
  .right-body-registration {
    width: 50%;
    margin-left: 0%;
  }
  .dont {
    font-size: 40px;
    margin-left: 0%;
  }
  .h2-main {
    font-size: 35px;
    margin-left: 0%;
  }
}
