body {
  background: #0f2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2c5364, #203a43, #0f2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2c5364, #203a43, #0f2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #c0d6df;
  font-family: "Raleway", sans-serif;
  padding: 1px;
  min-height: 100vh;
}
main {
  margin: 10% 0% 0% 30%;
  font-size: 40px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em;
  margin-top: 100px;
   background-color: aquamarine;  */
}
.formcard {
  display: flex;
}
input[type="checkbox"] {
  margin-right: 0%;
}
section > input[type="text"] {
  width: 80%;
  max-width: 550px;
  margin: 0.1em 1em;
}

.selectPopDown {
  width: 200px;
  margin-left: 1em;
}

.formSelectionButton {
  display: flex;
}

.formLabel {
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 95px;
}

.rangeStyling {
  width: 80%;
  max-width: 550px;
  margin-left: 1em;
  align-self: center;
}

.counterText {
  align-self: center;
  /* padding-bottom: 1em; */
}

.headerText {
  margin-top: 1em;
  margin-bottom: 12px;
  align-self: center;
}

.menuButton {
  margin: 0.5em 1em;
  align-self: center;
}

#pwordOptions {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 10%;
}

#numbersCheck {
  width: 20px;
  height: 20px;
}
#symbolsCheck {
  width: 20px;
  height: 20px;
}
#lowerCaseCheck {
  width: 20px;
  height: 20px;
}

#upperCaseCheck {
  width: 20px;
  height: 20px;
}

.tickboxes {
  justify-content: center;
}

/* fixer code needs to be reviewed for conflicts */
h5 {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 2px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5px;
}

h5.headerText {
  margin-top: 20px;
}

h5.navbar-header {
  color: white;
  margin-left: -55px;
}

h4 {
  margin-left: 2px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  margin-left: 42px;
  font-size: 32px;
}

button {
  margin-right: 10px;
  margin-top: 12px;
  margin-bottom: 5px;
  min-width: 65px;
}

button.remove_from_password_buttons {
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 20px;
}

/* https://stackoverflow.com/questions/39811673/change-the-height-of-ui-bootstrap-alert */
.alert {
  margin-bottom: 1px;
  min-height: 35px;
  line-height: 35px;
  padding: 0px 35px;
  position: fixed;
  width: 100%;
  top: 70px;
  left: 0;
}

.alert p {
  margin: 4px 0;
}

h5 {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 2px;
}

h4 {
  margin-left: 2px;
}

h5 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  margin-left: 42px;
  font-size: 32px;
}

a.nav-link {
  margin-left: 10px;
}

/* Write desktop only styles here */
@media only screen and (max-width: 575px) {
  h5.navbar-header {
    color: white;
    margin-left: -60px;
    margin-bottom: 15px;
  }
}
